<!--navigatorDiv :: <div id="navigatorDiv" style="width:80px; height:60px;"></div>-->
<!--Imageviewer::<div id="image-viewer" style="width:800px; height:600px;"></div>-->

<!--<div id="seadragon-viewer" style="width:800px; height:600px;"></div>-->

<!--Worldmap:<div id="worldmap-viewer" style="width:800px; height:600px;"></div>-->
<!--Chess :: <div id="board1" style="width:400px;"></div>-->
<!--sampleviewer::<div id="sample-viewer" style="width:800px; height:600px;"></div>-->
<!-- openSeadragon1:: -->
<!-- <div id="openSeadragon1" style="width: 800px; height: 600px"></div> -->
<!--wooking seadragon-viewer1:<div id="seadragon-viewer1" style="width:800px; height:600px;"></div>-->
<div id="sequence-viewer" style="width: 800px; height: 600px"></div>

<!--Test Image :: <img class="logo" src="assets/density.jpeg">-->
